<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="https://www.redbubble.com/people/EsterKarenAida/shop" class="btn" target="_blank" rel=noopener rel=noreferrer>Redbubble Shop</a>
        <a href="https://thebezine.com/?s=Ester+Karen+Aida" class="btn" target="_blank" rel=noopener rel=noreferrer>The BeZine</a>
        <a href="https://pin.it/5FKPIDM" class="btn" target="_blank" rel=noopener rel=noreferrer>Pinterest</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          Maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        {% endif %}
      </footer>
    </main>
  </body>
</html>